body {
  background-color: #aaaaaa;
}

.container {
  background-color: #aaaaaa;
}

.language {
  font-weight: bold;
  font-size: 18px;
}

.sidebar {
  width: 200px;
  float: right;
  margin: 0px;
  padding: 0px;
}

.sidebar a {
  float: none;
}

.row {
  margin: auto;
  margin-left: 0px;
  margin-right: 205px;
  padding-right: 0px;
}

.portrait {
  background-color: white;
  width: 50%;
  border: solid red 10px;
  text-align: center;
  padding: 0px;
  margin: auto;
  margin-bottom: 20px;
}

/* attempt to target first and last colomns in a row */
/* .row classes[href^="col"]:first-child {
  margin-left: 0px;
  padding-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
} */

.col-md-6 {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

@media screen and (max-width: 720px) {

  .portrait {
    text-align: center;
    margin: auto;
    width: 90%;
    margin-bottom: 20px;
  }
}
