body {
  background-color: #aaaaaa;
}

.container-fluid {
  background-color: inherit;
  font-family: sans-serif;
  padding-right: 0px;
}

.container-fluid h2 {
  font-size: 25px;
  font-family: monospace;
  font-weight: 350;
}

.language {
  font-weight: bold;
  font-size: 18px;
}

.sidebar {
  width: 200px;
  float: right;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

.sidebar dl dt {
  font-size: 20px;
}

.sidebar dl dd {
  padding-bottom: 20px;
}

.row {
  margin: auto;
  margin-left: 0px;
  margin-right: 205px;
  padding-right: 0px;
}

.portrait {
  background-color: black;
  border: solid red 10px;
  width: 30%;
  min-width: 300px;
  text-align: center;
  padding: 0px;
  margin: auto;
  margin-bottom: 20px;
}

.col-md-6 {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 8px;
}

blockquote p {
  font-family: fantasy;
}

@media screen and (max-width: 720px) {
  .portrait {
    text-align: center;
    margin: auto;
    min-width: 248px;
    margin-bottom: 20px;
  }

}
